# railway.toml

[build]
nixPkgs = ["nodejs-18_x", "npm-9_x"]
builder = "NIXPACKS"

[deploy]
startCommand = "python main.py"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3

# Cron schedule
[[cron]]
schedule = "0 * * * *"
command = "python main.py"